# Environment & secrets
.env
*.env
.env.*

# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/

# Expo / React Native
.expo/
ios/build/
android/build/
android/.gradle/

# OS
.DS_Store
Thumbs.db

# documentation
.documents/

# vscode
.vscode/

data/test_reports/*
tour-guide-app/node_modules/*
tour-guide-app/node_modules/.package-lock.json
